 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header{
		padding: 5px 0;
		
	}*/
	.c_nav{
		padding: 5px 0;
	}
	/*intro*/
	.introduction {
	    padding-top: 70px;
	}
	.i_text {
	    margin-top: 20px;
	    margin-bottom: 45px;
	}
	.c_h3 {	    
	    font-size: 14px;	   
	    margin-bottom: 12px;	    
	}
	.c_h1 {	    
	    font-size: 28px;	    
	    margin-bottom: 16px;
	    line-height: 37px;
	}
	.c_p {	   
	    font-size: 14px;	   
	    margin-bottom: 30px;
	}
	.btn_custom {
	   
	    padding: 5px 10px;
	    margin: 0 2px;
	    
	}
	/*features*/
	.features {
	    padding: 30px 0 20px;
	}
	.f_text {
	    margin-bottom: 10px;
	}
	.c_h3_2 {
		margin-bottom: 0px;
	}
	.c_h1_2 {
	    font-size: 26px;
	    margin-bottom: 10px;
	}
	.v_bar {
		margin-bottom: 20px;
	}
	.s_feature {
	    margin-bottom: 20px;
	}
	.s_f_icon {
		width: 60px;
		height: 60px;
		margin-bottom: 20px;
	}
	.s_f_icon i{
		font-size: 25px;
	}
	.s_feature h2 {
		margin-bottom: 10px;
	}
	.s_f_p {
	    font-size: 14px;
	}

	/*about*/
	.about {
	    padding: 0px 0 20px;
	}
	.about_p{
		font-size: 14px;
	}
	.about_list ul li i{
		font-size: 16px;
		
	}
	.about_list ul li span{
		font-size: 16px;
	}
	.about_image {
	    width: 60%;
	    margin: 0 auto 10px;
	}

	/*about2*/
	.about_2{
		padding: 30px 0 15px;
		
	}
	.about_2_image {
	    width: 90%;
	    margin: 0 auto;
	}
	/*about2*/

	/*testimonial*/
	.testimonials{
		padding: 30px 0 25px;
	}
	.slider{
		margin: 5px 0 20px;
	}
	.cid {
	    bottom: -55px;
	}
	.t_content {
	    margin-bottom: 10px;
	}

	.t_tile h1 {
	    font-size: 28px;
	    
	}
	.t_content p {
	    font-size: 16px;
	    
	}
	.cid [data-bs-target] {
	    width: 11px;
	    height: 11px;
	    border-radius: 50%;
	}
	.cid {
	    bottom: -50px;
	}
	/*testimonial*/

	/*pricing*/
	.pricing{
		padding: 30px 0 40px;
	}
	.c_card_header{
		padding: 10px !important;
	}
	.c_card_header h4 {
	    font-size: 18px;
	}
	.c_card_body {
	    padding: 25px 40px;
	}
	.c_card_body p {
	    font-size: 14px;
	    
	}
	/*pricing*/

	/*contact*/
	.contact{
		padding: 30px 0 40px;
	}
	.con_icon i{
		font-size: 25px;
	}
	.con_text p{
		font-size: 14px;
	}
	/*contact*/

	/*footer*/
	footer {
	    padding: 5px 0;
	}
	.footer_item p {
	    
	    font-size: 11px;
	    
	}



}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header{
		padding: 5px 0;
		
	}*/
	.c_nav{
		padding: 5px 0;
	}
	/*intro*/
	.introduction {
	    padding-top: 85px;
	}
	.c_h3 {	    
	    font-size: 14px;	   
	    margin-bottom: 12px;	    
	}
	.c_h1 {	    
	    font-size: 32px;	    
	    margin-bottom: 20px;
	    line-height: 40px;
	}
	.c_p {	   
	    font-size: 14px;	   
	    margin-bottom: 40px;
	}
	.btn_custom {
	   
	    padding: 5px 10px;
	    margin: 0 2px;
	    
	}
	/*features*/
	.features {
	    padding: 35px 0 20px;
	}
	.f_text {
	    margin-bottom: 10px;
	}
	.s_feature {
	    margin-bottom: 25px;
	}
	.c_h1_2 {
	    font-size: 26px;
	    margin-bottom: 10px;
	}
	.s_f_icon {
		width: 60px;
		height: 60px;
		margin-bottom: 20px;
	}
	.s_f_icon i{
		font-size: 25px;
	}
	.s_feature h2 {
		margin-bottom: 10px;
	}
	.s_f_p {
	    font-size: 14px;
	}
	.v_bar{
		margin-bottom: 25px;
	}

	/*about*/
	.about {
	    padding: 0px 0 30px;
	}
	.about_p{
		font-size: 14px;
	}
	.about_list ul li i{
		font-size: 16px;
		
	}
	.about_list ul li span{
		font-size: 16px;
	}
	.about_image {
	    width: 50%;
	    margin: 0 auto 10px;
	}
	/*about2*/
	.about_2{
		padding: 35px 0 20px;
		
	}
	.about_2_image {
	    width: 80%;
	    margin: 0 auto;
	}
	/*about2*/

	/*testimonial*/
	.testimonials{
		padding: 35px 0 30px;
	}
	.slider{
		margin: 10px 0 40px;
	}
	.cid {
	    bottom: -70px;
	}
	.t_content {
	    margin-bottom: 20px;
	}
	.t_content p {
	    font-size: 16px;
	    color: #ffffff;
	    margin-bottom: 25px;
	}
	/*testimonial*/

	/*pricing*/
	.pricing{
		padding: 35px 0 45px;
	}
	.c_card_header{
		padding: 10px !important;
	}
	.c_card_header h4 {
	    font-size: 18px;
	    font-weight: 700;
	}
	.c_card_body p {
	    font-size: 14px;
	    
	}
	/*pricing*/

	/*contact*/
	.contact{
		padding: 35px 0 45px;
	}
	.con_icon i{
		font-size: 25px;
	}
	.con_text p{
		font-size: 14px;
	}
	/*contact*/

	/*footer*/
	footer{
		padding: 20px 0;
	}
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header{
		padding: 5px 0;
		
	}*/
	.c_nav{
		padding: 5px 0;
	}
	/*intro*/
	.c_h3 {	    
	    font-size: 14px;	   
	    margin-bottom: 12px;	    
	}
	.c_h1 {	    
	    font-size: 32px;	    
	    margin-bottom: 20px;
	    line-height: 40px;
	}
	.c_p {	   
	    font-size: 14px;	   
	    margin-bottom: 40px;
	}
	.btn_custom {
	   
	    padding: 5px 15px;
	   
	}
	/*feature*/
	.features {
	    padding: 40px 0 20px;
	}
	.s_feature {
	    margin-bottom: 35px;
	}
	.s_f_p {
	    font-size: 16px;
	}
	.c_h1_2{
		font-size: 26px;
		line-height: 35px;
	}
	.v_bar{
		margin-bottom: 25px;
	}
	/*about*/
	.about {
	    padding: 0px 0 15px;
	}
	.about_image {
	    padding-top: 40px;
	    width: 100%;
	    margin: 0 auto;
	}
	.about_text {
	    margin-bottom: 20px;
	}
	.about_p{
		font-size: 14px;
	}
	.about_list ul li i{
		font-size: 16px;
		
	}
	.about_list ul li span{
		font-size: 16px;
	}
	/*about_2*/
	.about_2{
		padding: 40px 0 30px;
		
	}
	/*about_2*/

	/*testimonial*/
	.testimonials{
		padding: 40px 0 55px;
	}
	.slider{
		margin: 10px 0 55px;
	}
	.cid {
	    bottom: -100px;
	}
	/*testimonial*/

	/*pricing*/
	.pricing{
		padding: 40px 0 55px;
	}
	.c_card_header h4 {
	    font-size: 18px;
	    font-weight: 700;
	}
	.c_card_body {
	    padding: 20px 30px;
	}
	.c_card_body p {
	    font-size: 16px;
	    
	}
	/*pricing*/

	/*contact*/
	.contact{
		padding: 40px 0 55px;
	}
	.con_text p{
		font-size: 16px;
	}
	/*contact*/

	/*footer*/
	footer{
		padding: 20px 0;
	}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

 /*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

	.c_h1 {
	    font-family: ;
	    font-size: 44px;
	}
	.i_text {
	    margin-top: 30px;
	    margin-bottom: 75px;
	}
	.i_img {
	    
	    width: 90%;
	}
	.t_content p {
	    font-size: 22px;
	    margin-bottom: 30px;
	}
	.t_profile p{
		font-size: 14px;
	}
	.about_image {
	    
	    width: 70%;
	    margin: 0 auto;
	}
	.about_2_image {
	    width: 85%;
	    margin: 0 auto;
	}
}

 /*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.c_nav {
	    padding: 8px 0;
	    
	}
	.introduction{
		padding-top: 100px;
	}
	.i_text {
	    margin-top: 40px;
	    margin-bottom: 100px;
	}
	.i_img {
	    width: 90%;
	}
	.c_h3 {
	    
	    margin-bottom: 25px;
	    
	}
	.c_h1 {
	    
	    margin-bottom: 35px;
	    
	}
	.c_p {
	
	    margin-bottom: 65px;
	}
	.btn_custom{
		
		font-size: 14px;
		padding: 10px 25px;
		margin: 0 5px;
	}
	.features{
		padding: 60px 0 40px;
	}
	.about{
		padding: 20px 0 40px;
	}
	.about_2{
		padding: 60px 0 55px;
	}
	.testimonials{
		padding: 60px 0 80px;
	}
	/*pricing*/
	.pricing{
		padding: 60px 0 80px;
	}
	/*pricing*/

	/*contact*/
	.contact{
		padding: 60px 0 80px;
	}
	/*contact*/

	footer{
		padding: 25px 0;
	}
	.cid {
	    bottom: -140px;
	}
	.t_content p {
	    font-size: 24px;
	    margin-bottom: 30px;
	}
	.t_profile p{
		font-size: 14px;
	}
	.about_image {
	    
	    width: 65%;
	    margin: 0 auto;
	}
	.about_2_image {
	    width: 85%;
	    margin: 0 auto;
	}
}
